.register-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    gap: 20px;
}
.register-page-logo{
    width: 20%;
}
.already-registred{
    font-family: var(--secondary);
    font-size: 1.3rem;
}
.link-to-login{
    color: #db1d2b;
}
@media (max-width: 1000px){
    .register-page-logo{
        width: 50%;
    }
    .already-registred{
        font-size: 1rem;
    }
}
.register-page-logo-link{
    text-align: center;
}