.ContainerTable{
    width: 70%;
    flex: left;
    padding-right: 3%;
}

.PaginationTable{
   display: flex ;
   align-items: center;
   justify-content: center;
   width: 100%;
    padding-top: 1%;
}